# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Pytest
.pytest_cache/

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
*.tfvars

# IDE
.idea/
*.iml

# Misc
*.pdf